<style>
    iframe{
        width: 100%;
        height: 1000px;
        border: 1px solid white;
    }
    hr{
        background-color: #4e5d6c;
    }
</style>
<div class="container mt-5 mb-5 pb-5">
    <div class="row">
        <div class="col mx-auto">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!" >Accueil</a></li>
                <li class="breadcrumb-item active">🖥️ Test API Rest</li>
                <li class="ml-auto d-none d-md-block">
                    <ng-include src="'/assets/templates/includes/breadcrumb-home.html'"></ng-include>
                </li>
            </ol>

            <h1>🖥️ Test API Rest</h1>

            <p class="mt-5">Cette page est destinée à vous permettre de tester une API Rest dans des conditions réelles. Vous avez accès à différents verbs (GET, POST, PUT, DELETE, PATCH).
            Vous pouvez utiliser différents formats que ce soit le XML ou le JSON. Vous pouvez tester l'api dans un utilitaire comme
                <a href="https://www.postman.com/downloads/">Postman</a> en utilisant l'adresse de base
                <a href="// lien //api/books">//fullUrl///api/books</a>.</p>

            <hr>

            <iframe id="inlineFrameExample"
                    title="Inline Frame Example"
                    width="300"
                    src="/api">
            </iframe>

        </div>
    </div>
</div>