<style>
    li{
        list-style-type: none;
        display: flex;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col mx-auto">
            <div class="jumbotron">
                <h1 class="display-3">Bonjour,</h1>
                <p class="lead">Ce application web a été réalisée dans le cadre du travail personnel étudiant de l'UE Administation Serveur Web
                    de la classe SMAGIR1B (2019 - 2020) de Pigier Côte d'Ivoire.</p>
                <hr class="my-4">
                <p>Cette app a été réalisée par KAMAGATE Amadou Aziz.</p>
                <p class="lead">
                    <a href="#!" class="ml-5 mr-3">
                        <button type="button" class="btn btn-primary btn-lg" disabled>🏠 Page d'accueil</button>
                    </a>
                    <a href="#!verb" class="mr-3">
                        <button type="button" class="btn btn-primary btn-lg">✨ Test HTTP Verbs</button>
                    </a>
                    <a href="#!api" class="mr-3">
                        <button type="button" class="btn btn-primary btn-lg">🖥️ Test API Rest</button>
                    </a>
                    <a href="#!blog">
                        <button type="button" class="btn btn-primary btn-lg">📖 Mon Blog</button>
                    </a>
                </p>
            </div>

        </div>
    </div>
</div>