<style>
    hr{
        background-color: #4e5d6c;
    }
    textarea{
        display: block;
        width: 95%;
        background-color: black;
        color: green;
        border: none;
        resize: none;
        font-size: 18px;
        height: 500px;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col mx-auto">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!" >Accueil</a></li>
                <li class="breadcrumb-item active">✨ Test HTTP Verbs</li>
            </ol>

            <h1>✨ Test HTTP Verbs</h1>
            <hr>
            <p>Cette page vous permet de tester les différents VERB HTTP et de voir les headers et reponses des différents VERBS.</p>

            <div class="col mx-auto">

                <button type="button" class="btn btn-secondary">GET</button>
                <button type="button" class="btn btn-secondary">POST</button>
                <button type="button" class="btn btn-secondary">HEAD</button>
                <button type="button" class="btn btn-secondary">PUT</button>
                <button type="button" class="btn btn-secondary">DELETE</button>
                <button type="button" class="btn btn-secondary">CONNECT</button>
                <button type="button" class="btn btn-secondary">OPTIONS</button>
                <button type="button" class="btn btn-secondary">TRACE</button>
                <button type="button" class="btn btn-secondary">PATCH</button>
            </div>

            <div class="row mt-5">
                <div class="col-md">
                    <h4>Request</h4><hr>
                    <textarea rows="30" disabled="true">dscsd</textarea>
                </div>
                <div class="col-md">
                    <h4>Response</h4><hr>
                    <textarea rows="30" disabled="true">csdcsdc</textarea>
                </div>
            </div>

        </div>
    </div>
</div>