<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Web App - Administration Serveur Web</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.css">
        <script src="/assets/js/angular.js"></script>
        <script src="/assets/js/angularjs-route.js"></script>
        <script src="/assets/js/angular-sanitize.js"></script>
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/config/definition.js"></script>
        <script src="/assets/config/route.js"></script>
        <script src="/assets/js-controllers/verbsController.js"></script>
        <script src="/assets/js-controllers/apiController.js"></script>
        <script src="/assets/js-controllers/blogController.js"></script>
        <script>
            app.controller('myCtrl', function($rootScope, $http, $scope) {
                $scope.lien = "{{ path('home')|escape('js') }}";
                //console.log($scope.lien);
                $http.get("/assets/json/blog_1604.json")
                    .then(function(response) {
                        $rootScope.articles = response.data;
                        //console.log(response.data);
                    });
            });
        </script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
            html *
            {
                font-family: lato !important;
            }
            footer{
                position: absolute;
                bottom: 0;
                width: 100%;
            }
            .home_link:hover{
                text-transform: none !important;
            }
        </style>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Web App - Administration Serveur Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav  mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#!">Accueil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!verb">Test HTTP Verbs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!api">Test API Rest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!blog">Blog</a>
                </li>
            </ul>

            <span class="navbar-text">
                Made by <a href="mailto:azizkamadou17@gmail.com">KAMAGATE Amadou Aziz</a> - Developer and Web Artisan enthusiast 👷🛠️👨‍💻
            </span>
        </div>
    </nav>

    <div ng-view></div>

    <!-- Footer -->
    <footer class="page-footer font-small blue bg-dark fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="{{ path('home') }}">Web App - Administration Serveur Web</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    </body>

</html>
